body {
  background-color: rgb(72, 72, 72);
}

#canvasTankilla {
  position: absolute;
  border: solid thin black;
  /*background-color: ivory;*/
}

#canvasTankillaBackGround {
  position: absolute;
}

#canvasWeapon {
  border: solid thin black;
  background-color: ivory;
  margin-top: 1em;
  position: absolute;
  top: 600px;
}
